In [10]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
data=pd.read_csv('C:\Sales_add.csv')
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [ ]:
there are 22 rows so sample size less than 30 so T test can be used
It is clear that the mean sales has increased from 149239 to  231123 after digital advertising

In [5]:
# T test one tailed

In [ ]:
H0: There is no increase in sale after stepping into digital marketing
Ha: There is an increase in sale after stepping into digital marketing
    alpha=.05

In [11]:
sales_bdm=data['Sales_before_digital_add(in $)']
sales_adm=data['Sales_After_digital_add(in $)']
t_val,p_val=stats.ttest_rel(sales_bdm,sales_adm)
print('t-value is:',t_val)
print('p-value is:',p_val)

t-value is: -12.09070525287017
p-value is: 6.336667004575778e-11

In [ ]:
As t-value is much greater than t-alpha which is 2.015 the null hypothesis is rejected
alternate hypothesis is accepted ie, there is an increase in sale after stepping into digital marketing

In [ ]:
# dependency between region and manager

In [12]:
# chi square test

In [ ]:
H0: Region and Manager are independent
H1: Region and Manager are not independent

In [16]:
data=pd.read_csv('C:\Sales_add.csv')
crosstab=pd.crosstab(data['Region'],data['Manager'],normalize='index')
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A     0.400000     0.300000     0.300000
Region - B     0.571429     0.142857     0.285714
Region - C     0.200000     0.600000     0.200000

In [20]:
from scipy.stats import chi2_contingency
c, p, dof, expected = chi2_contingency(crosstab)
print('chi square statistic:',c)
print('pvalue:',p)
print('degrees of freedom:',dof)

chi square statistic: 0.5097129666190809
pvalue: 0.9725485584250712
degrees of freedom: 4

In [ ]:
level of significance for .05 is 2.78 
chi square value is less than 2.78, so null hypothesis is accepted.
The Region and Manager are independent, ie no relation between Region and Manager for the sales